/* :root{
    --text-color: red
}
h1{
    color: var(--text-color);
}
h2{
    color: var(--text-color);
}
h3{
    color: var(--text-color);
} */
.item{
    background: salmon;
    --borderleft:2px solid green;
}
h1{
    border-left: var(--borderleft);
}
h2{
    border-left: var(--borderleft);
}
h3{
    border-left: var(--borderleft);
}
a{
    border-left:var(--borderleft)
}
