:root{
    --borderright:5px solid red;
}
body{
    width: 300px;
}
ul{
    background: seagreen;
    border-right:var(--borderright)
}
ul ul{
    background: chocolate;
    width: 100px;
    --borderright:initial;
}